.balls {
  display: flex; flex-flow: row wrap; justify-content: center; align-content: flex-end; width: 45%; min-height: 800px;
}
.ball {
  width: 80px; height: 80px; background: url(../img/ball.png); background-size: contain; color: #fff; line-height: 80px; text-align: center; @include vendor(border-radius, 80px);
   
  &:nth-child(8n) { margin-left: 40px; }
  &.rotating {
    @include vendor(animation, rotate infinite linear);
  }
  &.roll-away {
    @include vendor(animation, roll-away 2s linear);
  }
}