.balls {
  @include vendor-value(display, box); @include vendor(flex-flow, row wrap); @include vendor(justify-content, center); @include vendor(align-content, flex-end); width: 45%; min-height: 520px;
}

.rolloff-container {  position: absolute; left: 45%; width: 55%; top: 620px; }
.ball {
  width: 74px; height: 74px; color: #fff; line-height: 74px; text-align: center; 
   
  &:nth-child(8n) { margin-left: 40px; }
  &.rotating {
    @include vendor(animation, rotate infinite linear);
  }
  &.roll-away {
    @include vendor(animation, roll-away 2s linear);
  }
  
  &.watchTV { background: url(../img/orangetv.png) no-repeat center center, url(../img/ball-red.png) no-repeat center center; background-size: 60px, 100%; }
  &.eat { background: url(http://icons.iconarchive.com/icons/artdesigner/emoticons-2/256/eat-icon.png) no-repeat center center, url(../img/ball-yellow.png) no-repeat center center; background-size: 60px, 100%; }
  &.brushTeeth { background: url(../img/brushtimer.png) no-repeat center center, url(../img/ball-blue.png) no-repeat center center; background-size: 60px, 100%; }
  &.dress { background: url(../img/get_dressed.png) no-repeat center center, url(../img/ball-green.png) no-repeat center center; background-size: 60px, 100%; }
  &.clean {  background: url(http://www.emofaces.com/png/200/buddy-icons/vacuum%20cleaner.png) no-repeat center center, url(../img/ball-green.png) no-repeat center center; background-size: 60px, 100%; } 
}