/* ==|======================
   No Modular/Home
   ========================= */

#home {
} /* #home */

.wrap {
  position: relative;
  background:  url(../img/pattern/wood.png); background-size: cover;
}

.tasks {
  font-size: 30px;
  output { color: #444; text-shadow: 0 1px 1px rgba(#fff, .75); }
}