/* ==|======================
   No Modular/Home
   ========================= */

#home {
} /* #home */

body { background:  url(../img/pattern/wood.png); background-size: cover; }

.wrap {
  position: relative; background: url('../img/plate-center.png') no-repeat left bottom; background-size: contain;
}

.tasks {
  font-size: 30px; position: relative; z-index: 5;
  output { color: rgb(244, 201, 146); text-shadow: 0 1px 1px rgba(#000, .5); }
}

#video { position: absolute; bottom: 120px; right: 20px; width: 50%; height: 50%; }

.bg, .dock { @include vendor(transition, background-position .5s ease-in-out); }
.dock { height: 260px; background: url('../img/dock.png') no-repeat left bottom; background-size: 100% 100%; }
.bg {  height: 440px; width: 100%; background: url('../img/bg.png') no-repeat left bottom; background-size: 100% 100%; position: absolute; top: 0; left: 0; z-index: -1; }