/* ==|====================
   Layout/Main
   ======================= */

.l-main {
}

.wrap {
  width: 100%; margin: 0 auto; padding: 20px;
}

@include sticky-footer(260px, '.wrap', '', 'footer');

.hbox {
  display: flex; flex-flow: row wrap;
}

.vbox {
  display: flex; flex-flow: column wrap;
}

.flex-item {
  @include vendor(flex, 1);
  &.btn, &.flex-none { @include vendor(flex, none); }
  & + & { margin-left: 20px; }
}

.page {
  position: absolute; right: 20px; left: 20px; top: 0; bottom: 0; @include vendor(animation, fadeInDown 1s);
  &.page-play { left: 0; right: 0; }
}

