/* ==|====================
   Layout/Main
   ======================= */

.l-main {
}

.wrap {
  width: 100%; margin: 0 auto; padding: 20px;
}

@include sticky-footer(260px, '.wrap', '', 'footer');

.hbox {
  @include vendor-value(display, flex); @include vendor(flex-flow, row wrap);
}

.vbox {
  @include vendor-value(display, flex); @include vendor(flex-flow, column wrap);
}

.flex-item {
  flex: 1;
  &.btn, &.flex-none { flex: none; }
  & + & { margin-left: 20px; }
}

.page {
  position: absolute;
}

