/* ==|====================
   Base/Form
   ======================= */

input[type="text"],
.form-text
textarea {
    font-size: 1em;
    font-family: $font1;
    font-weight: 300;
    color: #666;
    padding: .5em;
    border: 1px solid #bfbfbf;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    @include border-radius(2px);
    background-color: #f7f7f7;
    @include placeholder($color-mixin-placeholder);

    &:hover {
     border-color: #a5a5a5;
    }
    &:focus {
        border-color: #999;
    }
}

.select-wrapper {
  display: block; // Override
  position: relative;
  height: 50px; 
  overflow: hidden;
  padding-right: 20px;
  @include vendor(border-radius, 2px);
  background: transparentize(#B7A835, .5) url(../img/pattern/pattern-noise.png) 0 0 repeat; color: #444; 
  box-shadow: 0px 3px 5px rgba(#000, .3);
  &:after { content: '';
    width: 10px; @include center-v(7px); right: 10px;
    pointer-events: none; //to make underlying select box drop down on click on the arrow
  }
}
select {
  width: 125%;
  height: 100%; // Override
  padding: 0 10px; // Override; right padding necessary for text-overflow
  -webkit-appearance: textfield;
  line-height: 50px; color: rgb(244, 201, 146); text-shadow: 0 1px 1px rgba(#000, .5);
  background: transparent; border: transparent;
  &:focus { outline: none; }
}